*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'Space Grotesk',sans-serif;
}
@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}
header{
	align-items:center;
	display:flex;
	margin-top:25px;
}
@media (max-width: 480px) {
	header{
	height:67px;
	align-items:center;
	display:flex;
	}
}
.heading{
    display:flex;
    gap:40px;
    margin-bottom:50px;
	margin-top:70px;
}
.heading span{
    background:#B9FF66;
    padding:0px 7px;
    font-size:40px;
    border-radius:7px;
}
.heading p{
	 font-size:18px;
}
.container{
	width:1240px;
	max-width: 96%;
    margin: 0 auto;
}
.nav{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.nav a{
	padding:12px 10px;
	gap:20px;
	text-decoration: none;
	font-size:20px;
	color:#000000;
	font-family:'Space Grotesk',sans-serif;
	white-space: nowrap;
	background:transparent;
	border-bottom: 3px solid transparent;
	text-align: center;
}
.nav a:hover{
	background:#b9ff66;
    transition: 0.4s ease-in;
    border-bottom: 3px solid black;
    border-radius: 5px;
}
a.btn{
	border-radius:14px;
	border:1px solid #000000;
}
a.btn:hover{
	border-radius:14px;
	background:#b9ff66;
	transition: all .4s ease;
	border:1px solid #000000;
}
/***************************** DESKTOP MENU************************************ */
.menu {
    display: flex;
    align-items: center;
    gap: 30px;
}
.menu a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
.hamburger{
	display:none;
}
/*****************************hero-section*****************************/
.hero-flex{
	display:flex;
	margin-top: 70px;

}
.left-hero h1{
	font-size: 64px;
}
.left-hero p{
	margin-top: 35px;
	margin-bottom: 35px;
	font-size: 18px;
}
.btn1{
	width:264px;
	border-radius:14px;
	display: flex;
	align-items:center;
	justify-content: center;
	padding:20px;
	color:#ffffff;
	background:#191A23;
	text-decoration: none;
}
.btn1:hover{
	background:#292A32;
	transition: all .4s ease;
}
.right-hero img{
	width:100%;
}
.right-hero{
	width:50%
}
.left-hero{
	width: 50%;
}
.hero-img img{
	display: none;
	width:100%;	
}
/*****************************logo-section*****************************/
.logo-slider{
	overflow: hidden;
}
.logo-track {
    display: flex;
    gap: 70px;
  /*  animation: logoSlide 10s linear infinite;*/
}
.logo-track img {
    object-fit: contain;
}
.img{
		width:100%;

}
.logo-track:hover {
    animation-play-state: paused;
}
@keyframes logoSlide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}
.logo-track .slick-slide {
    height: 10%;
	padding: 0 60px !important;

}
.logo-track {
    overflow: hidden;
}
/*****************************footer*****************************/
.ff{
    background:#191A23;
    padding:60px 55px 60px 50px;
    border-radius:45px 45px 0 0;
	margin-top:70px;
}
.footer-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:66px;
}
.footer-nav{
    display:flex;
    list-style:none;
    gap:40px;
}
.footer-nav a{
    color:#ffffff;
    font-size:18px;
}
.footer-nav a:hover{
	 color:#B9FF66;
	 transition: all .4s ease;
}
.social-icons{
    display:flex;
    gap:18px;
}
.social-icons a:hover{
	transform: scale(1.25);
	transition: transform 0.4s ease;
}
.footer-middle{
    display:flex;
    justify-content:space-between;
    margin-bottom:50px;
}
.contact-title{
    background:#b9ff66;
    padding:0px 7px;
    border-radius:7px;
	font-size:20px;
}
.address{
	margin-top:27px;
}
.contact a{
    color:#ffffff;
    font-size:18px;
	margin-bottom: 20px;
	text-decoration: none;
	display: flex;
}
.subscribe{
    background:#292A32;
    padding:58px 40px;
    border-radius:18px;
    display:flex;
    gap:20px;
}
.subscribe input {
    height: 67px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 14px;
    padding: 15px 20px;
    font-size: 18px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
}
.subscribe input:focus {
    border: 1px solid #ffffff;
    outline: none;
    box-shadow: 0 0 0 2px #ffffff;
}
.subscribe button{
    background:#b9ff66;
	height:68px;
    border:none;
    padding:15px 20px;
    border-radius:14px;
  	font-size:18px;
	cursor:pointer;
}
.subscribe button:hover{
	text-decoration:underline;
}
.footer hr{
    border:none;
    border-top:1px solid rgba(255,255,255,.4);
    margin-bottom:50px;
}
.footer-bottom{
    display:flex;
    gap:40px;
}
.footer-bottom p{
    color:#ffffff;
	font-size:18px;
}
.footer-bottom a{
    color:#ffffff;
    text-decoration:underline;
	font-size:18px;
}
/*****************************service-section*****************************/
.card-w,
.card-b,
.card-g {
    border-radius: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-bottom: 5px solid #191A23;
	border-top: 4px solid transparent;
    transition: all 0.3s ease;
}
.card-w {
    background: #F3F3F3;
}
.card-b {
    background: #191A23;
}
.card-g {
    background: #B9FF66;
}
.card-w:hover,
.card-g:hover {
    border-top: 5px solid #191A23;
    border-bottom: 1px solid #191A23;
    transform: scale(1.02);
}
.card-b:hover {
    border-top: 5px solid #B9FF66;
    border-bottom: 1px solid #191A23;
    transform: scale(1.02);
}
.content-w,.content-b,.content-g,.content-bg{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:210px;
}
.content-w h1 span,.content-bg h1 span{
    background:#B9FF66;
    padding:0px 7px;
    border-radius:7px;
	font-size:25px;
}
.content-b h1 span,.content-g h1 span{
    background:#FFFFFF;
    padding:0px 7px;
    border-radius:7px;
	color:#191A23;
	font-size:25px;
}
.arrow-bg{
    display:flex;
    align-items:center;
    gap:15px;
    text-decoration:none;
    color:#000000;
    font-size:20px;
}
.arrow-bg img,.arrow-wb img {
    transition: transform 0.3s ease;
}

.arrow-bg:hover img,.arrow-wb:hover img{
    transform: rotate(31deg);
}
.arrow-wb{
    display:flex;
    align-items:center;
    gap:15px;
    text-decoration:none;
    color:#FFFFFF;
    font-size:20px;
}
.image img{
	width:100%;
}
.service-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:40px;
	margin-bottom: 50px;
}
/*****************************Let's make things happen-section*****************************/
.cta1{
    background:#f3f3f3;
    border-radius:45px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0px 60px;
}
.cta-content{
    width:500px;
}
.cta-content h3{
    font-size:30px;
    margin-bottom:26px;
}
.cta-content p{
    font-size:18px;
    margin-bottom:26px;
}
.btn2{
	width:288px;
	border-radius:14px;
	display: flex;
	justify-content: center;
	padding:22px;
	color:#ffffff;
	background:#191A23;
	text-decoration: none;
}
.btn2:hover{
	background:#292A32;
	text-decoration:underline;
	
}
.cta-image img{
	width:100%;
}
/*****************************case study-section*****************************/
.title-text h2{
    font-size:20px;
    line-height:1.5;
    font-weight:500;
}
.cards{
    background:#191a23;
    border-radius:45px;
    padding:70px 60px;
    display:flex;
    gap:64px;
}
.card p{
    font-size:18px;
    margin-bottom:20px;
    color:#ffffff;
}
.card a{
    align-items:center;
    gap:10px;
    color:#b9ff66;
    font-size:18px;
}
.aw{
    transition: all .4s ease;
	text-decoration:none;
	display:flex;
}
.aw img{
    transition: transform 0.3s ease;
}
.aw:hover img{
    transform: rotate(31deg);
}
.divider{
    width:1px;
    background:#ffffff;
}
/*****************************Contact-section*****************************/
.contact-box{
    background:#f3f3f3;
    border-radius:45px;
    display:flex;
    justify-content:space-between;
	padding: 60px 0px 80px 100px;	
}
.contact-form{
	width:556px;
}
.radio-group{
    display:flex;
    margin-bottom:40px;
	gap: 50px;
}
.radio-group label{
	display: flex;
	gap: 10px;
	align-items: center;
}
.radio-group input[type="radio"] {
    appearance: none;
    width: 28px;             
    height: 28px;
    border: 1px solid #000000; 
    border-radius: 50%;
    background:#ffffff;
    position: relative;    
}
.radio-group input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    width: 16px;              
    height: 16px;
    background: #b9ff66;     
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form-group input {
    width: 100%;
    height: auto;
    border: 1px solid #000000;
    border-radius: 14px;
    padding: 18px 30px;
    font-size: 18px;
    margin-bottom: 25px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
}
.form-group input:focus {
    border: 1px solid #000000;
    outline: none;
    box-shadow: 0 0 0 2px #191A23;
}
.form-group textarea {
    width: 100%;
    height: 223px;
    border: 1px solid #000000;
    border-radius: 14px;
    padding: 18px 30px;
    font-size: 18px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
}
.form-group textarea:focus {
    border: 1px solid #000000;
    outline: none;
    box-shadow: 0 0 0 2px #191A23;
}
.contact button{
    border:none;
    background:#191A23;
    color:#ffffff;
    font-size:20px;
    border-radius:14px;
	height:68px;
	width:556px;
	margin-top:40px;
	cursor: pointer;
}
.contact button:hover{
	background:#292A32;
	transition: all .4s ease;
}
.contact-art img{
	width:100%;
}
/*****************************team-section*****************************/
.team-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}
.team-card {
    border: 1.5px solid #222;
    border-radius: 30px;
    padding: 25px;
    box-shadow: 0px 5px 0px 0px #191A23;
    transition: box-shadow 0.4s ease, transform 0.4s ease;
}
.team-card:hover {
    box-shadow: 5px 5px 0px 0px #191A23;
}
.card-top{
    display:flex;
    justify-content:space-between;
}
.member{
    display:flex;
    align-items:center;
    gap:15px;
}
.member-info h3{
    font-size:20px;
    margin-bottom:5px;
}
.member-info span{
    font-size:15px;
}
.linkedin {
    transition: transform 0.2s ease;
}

.linkedin:hover {
    transform: scale(1.10);
}
.team-card hr{
    margin:22px 0;
    border:none;
    border-top:1px solid #000;
}
.team-card p{
    line-height:1.7;
    font-size:15px;
}
.member-img img{
	width:100%;
}
/*****************************testimonial-section*****************************/
.testimonial-container {
    position: relative;
    height: 370px;
    background: #191A23;
    border-radius: 40px;
    overflow: hidden;
}
.testimonial-track {
    display: flex;
	justify-content: center;
    transition: transform 0.5s ease;
}
.testimonial-card {
    position: absolute;
    top: 0;
    width: calc(50% - 14px);
    min-width: calc(50% - 14px);
    height: auto;
    transition:
        transform 0.6s ease,
        opacity 0.6s ease;
    opacity: 1;
	margin-top:35px;
}
.quote-box {
    position: relative;
    border: 1.5px solid #b9ff66;
    border-radius: 28px;
    padding: 27px 25px;
    color: #ffffff;
}
.quote-arrow {
    position: absolute;
    left: 48px;
    bottom: -15px;
    width: 28px;
    height: 28px;
    background: #191A23;
    border-right: 1.5px solid #b9ff66;
    border-bottom: 1.5px solid #b9ff66;
    transform: rotate(45deg);
}
.client-info {
    margin-top: 35px;
    margin-left: 35px;
}
.client-info h3 {
    color: #b9ff66;
    font-size: 16px;}
.client-info p {
    color: #ffffff;
    font-size: 14px;
}
.slider-btn {
    position: absolute;
    top: 85%;
    border: none;
    background: transparent;
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
    transition:
        color 0.2s ease,
        transform 0.2s ease;
    z-index: 20;
}
.slider-btn:hover {
    color: #b9ff66;
    transform: scale(1.15);
}
.prev-btn {
    left: 25%;
}
.next-btn {
    right: 25%;
}
.star-slid {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}
.star {
    font-size: 24px;
    color: #55555e;
    transition:
        color 0.3s ease,
        transform 0.3s ease;
}
.star.active {
    color: #b9ff66;
    transform: scale(1.1);
}
/*****************************process-section*****************************/
.accordion-item,.accordion-item-active{
    border:1px solid #000000;
    border-radius:45px;
    margin-bottom:30px;
    overflow:hidden;
    box-shadow:0 5px 0 #000000;
}
.accordion-item-active{
    background:#b9ff66;
	width: 1234px;
	height: 279px;
	padding: 41px 60px;
}
.accordion-content {
    padding: 0 60px 41px;
}
.accordion-content p {
	padding: 30px 0;
    border-top:1px solid rgba(0,0,0,.3);
    font-size:18px;
}
.no{
    display:flex;
    align-items:center;
    gap:25px;
	font-size:30px;
	font-weight: 500;
}
.number{
    font-size:60px;
}
.accordion-item[open] {
    background: #B9FF66;
}
.accordion-header {
    padding:41px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.image-box {
    position: relative;
}
.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.image-box:hover{
	filter: sepia(1)
          saturate(5)
          hue-rotate(45deg)
          brightness(1.1);
	transform:scale(1.05);
	transition:background-color 0.3s ease;
}
.image-box .hover-img {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-box .normal-img {
    opacity: 1;
    transition: opacity 0.3s ease;
}
.image-box {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.image-box:hover {
    transform: scale(1.05);
}
.image-box .normal-img {
    opacity: 1;
    transition: opacity 0.3s ease;
}
.image-box .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.accordion-item[open] .normal-img {
    opacity: 0;
}

.accordion-item[open] .hover-img {
    opacity: 1;
}